
<div class="card">
	<div class="card-content">
		<span class="card-title">
		Pending Tasks</span>

		<%= render partial: "partials/searchbar", locals: {model_name: 'task'} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Task</th>
			<th>Project</th>
			<th>Due Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_tasks.each do |task| %>
			<% if can? :read, task %>
	      <tr>
	        <td><%= raw(priority_label(task.priority)) %></td>
	        <td><%= link_to task.name, task_path(task) %></td>
					<td><%= link_to task.project.name, project_path(task.project) %></td>
	        <td><%= task.due_on.strftime("%m/%d/%y") %></td>
	        <td>
	          <%= link_to raw("<i class='material-icons' title='Complete Task'>done</i>&nbsp;&nbsp;"), edit_task_path(task, status: 'completed'), :class => 'button radius tiny' %>
	        </td>
	      </tr>
			<% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @pending_tasks, previous_label: "<i class='material-icons'>navigate_before</i>", next_label: "<i class='material-icons'>navigate_next</i>" %>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'task'} %>
</div></div>
