<% if logged_in? %>
<ul id="projects_dropdown" class="dropdown-content">
  <li>
    <%= link_to "List Projects", projects_path %>
  </li>
  <li>
    <%= link_to "Add a Project", new_project_path %>
  </li>
</ul>

<ul id="tasks_dropdown" class="dropdown-content">
  <li>
    <%= link_to "List Tasks", tasks_path %>
  </li>
  <li>
    <%= link_to "Add a Task", new_task_path %>
  </li>
</ul>


<ul id="account_dropdown" class="dropdown-content">
  <li>
    <%= link_to "Account Info", user_path(current_user) %>
  </li>
  <li>
    <%= link_to "Edit settings", edit_user_path(current_user) %>
  </li>
  <li>
    <%= link_to "Logout", logout_path %>
  </li>
</ul>
<%end%>


<nav id="nav">
  <div class="nav-wrapper">
    <%= link_to "Arbeit", home_path, class:"brand-logo" %>
    <ul class="right hide-on-med-and-down">
      <!-- <li>
        <%= link_to "Dashboard", home_path %>
      </li> -->



      <!-- ADMIN ONLY OPTIONS -->
      <% if logged_in? && current_user.role == "admin" %>
        <li>
          <%= link_to "Assignments", assignments_path %>
        </li>
        <li>
          <%= link_to "Users", users_path %>
        </li>
        <li>
          <%= link_to "Domains", domains_path %>
        </li>
        <% end %>
    <% if logged_in? %>
        <!-- options for projects -->
        <li>
          <a class="dropdown-button" href="#" data-activates="projects_dropdown">Projects
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <!-- options for tasks -->
        <li>
          <a class="dropdown-button" href="#" data-activates="tasks_dropdown">Tasks
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <li>
          <a class="dropdown-button" href="#" data-activates="account_dropdown">
            <%= "Welcome, #{current_user.first_name}" %>
              <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <% else %>
      <ul class="right">
        <li>
            <%= link_to "Login", login_path %>
        </li>
        </ul>
        <% end %>
          </section>
</nav>
</div>
