<div class="card">
	<div class="card-content">
		<span class="card-title">
		Project Details</span>


<p>
  <b>Manager</b>: <%= @project.manager.proper_name %>
</p>

<p>
  <b>Project dates</b>:
	<%= @project.start_date.strftime("%B %d, %Y") %> -
	<%= @project.end_date.nil? ? "TBD" : @project.end_date.strftime("%B %d, %Y") %>
	<% if @project.is_active? && !@project.end_date.nil? %>
		&nbsp;&nbsp;<em>(expected)</em>
	<% end %>
</p>

<p>
  <b>Description</b>:<br>
  <%= raw sanitize(@project.description) %>
</p>

<p>
  <b>Domain</b>: <%= @project.domain.name %>
</p>

</div></div>
